body {
  background-color: darkseagreen;
}
.form-label {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  color: saddlebrown;

  font-size: 30px;
  font-weight: 700;
}
.form-control {
  margin-top: 30px;
}
.form-control::placeholder {
  font-size: 18px;
  color: saddlebrown;
}

/* Styles handlebars country-page */

.country-title {
  text-align: center;
  margin-top: 30px;

  font-size: 35px;
  font-weight: 600;
}

/* justify-content: space-around; */

.country-common__box {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.country-container__information {
  margin-right: 60px;
}
.country-list__information {
  padding-left: 0;
  list-style: none;
  font-size: 30px;
  font-weight: 500;
}
.country-item__information {
  display: flex;
  flex-direction: row;
}
.flag-pic {
  display: block;
  width: 500px;
}

/* List countries */
.list-countries {
  margin-top: 30px;

  font-size: 25px;
}
